@font-face {
  font-family: "MiFuente";
  src:url('National Cartoon.ttf');
}

@font-face {
  font-family: "FuenteSangre";
  src:url('youmurdererbb_reg.ttf');
}

body
{
  background-color:#FCF1FF;
}
/* nav
{
  background-color: gray;
} */

h2
{
 font: bold 50px Verdana;
 text-shadow: violet 5px 5px 10px;

 /* border-bottom: 1px solid black; */
}
blockquote
{
  /* padding: auto; */
  border: 3px solid black;
  border-radius: 15px 15px 10px 10px;
  font: 40px Calibri;
  text-align: right;
  box-shadow: 10px 10px;
  /* background: linear-gradient(to left, #FCF1FF, #D8AAFF, #D100FF); */
  padding: 10px;

}
blockquote:nth-child(1)
{
  background: linear-gradient(to left, #FCF1FF 10%, #D8AAFF 30%, #D100FF 60%);

}
blockquote:nth-child(2)
{
  background: linear-gradient(to left, #FCF1FF 25%, #D8AAFF, #D100FF);

}
blockquote:nth-child(3)
{
  background: linear-gradient(to left, #FCF1FF 30%, #D8AAFF, #D100FF);

}
blockquote:nth-child(4)
{
  background: linear-gradient(to left, #FCF1FF 40%, #D8AAFF, #D100FF);

}
blockquote:nth-child(5)
{
  background: linear-gradient(to left, #FCF1FF 50%, #D8AAFF, #D100FF);

}

#titclasesvirtuales
{
  color: black;
  font: 50px Arial;
  text-shadow: black 2px 2px 6px;
  -webkit-text-stroke: 1px #D100FF;
  margin-bottom: 50px;


}

#barrasuperior1
{
  border-bottom: 1px solid #D100FF;
  padding: 20px;
  margin: 50px;
}

li
{
  font: 30px Times New Roman;
  color: #D100FF;
  background-color:#FCF1FF;
  display: inline;
  margin: 50px;
  text-shadow: gray 5px 1px 10px;
}

/* header
{
  background-color:blue;
} */

#tituloprincipal{
  /* color: violet; */
  /* background-color:pink; */
  /* padding: 10px; */
  text-align: center;
  margin: auto;
  font: 70px "MiFuente" , Arial;
  /* text-shadow: black 5px 5px 5px; */

}

aside
{

  /* background-color: violet; */
  height: 800px;
  float: left;
  margin-left: 50px;

}



section
{
  font: 30px Arial;
  /* background-color:#F3E3FF; */
  height: 790px;
  padding-top: 1px;
  /* 500 + 50 porque aside es un flotante*/
  margin-left: 550px;
  padding-left: 50px;


}
article
{
 /* margin-top: 50px; */

}

figure
{
border-bottom: 1px solid #D100FF;
margin-top: 80px;
}

img
{
  box-shadow: #45394F 10px 10px 30px;
}

figcaption
{
  margin-top: 10px;
  font: #45394F;
  color: #45394F;
  font: 20px verdana;
  text-align: right;
}
#pieprincipal
{
  /* background-color:gray; */
  color: #715F80;
  font: 20px arial;
  margin-top: 210px;
  margin-left: 90px;
  /* align-items: center; */
  clear: both;
}

address
{
  display: inline;
}
